@font-face {
font-family: 'Gotham Narrow Light-No-YGWodJR2';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/403c6f19-6266-4dd1-9a20-3e69752ee782/gothamnarrow-light.woff') format('woff');
}