@font-face {
font-family: 'Gotham Light-Normal-flYwxlRB';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/c8d1cf32-4f15-4beb-a03e-70755fc082d7/gotham-light.woff') format('woff');
}