@font-face {
font-family: 'Gotham Narrow Thin-Nor-oNqluhUb';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/80a9a714-444c-412f-a08f-b3391c3d8230/gothamnarrow-thin.woff') format('woff');
}