@font-face {
font-family: 'Gotham Narrow Bold-Nor-ROtL8HVU';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/cb51fe1a-f7a6-4ee8-800a-88495c451a34/gothamnarrow-bold.woff') format('woff');
}