@font-face {
font-family: 'Gotham Narrow Medium-N-Df4M3w5t';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/2e4dd3de-b47a-4779-8498-5fcd33511110/gothamnarrow-medium.woff') format('woff');
}